---
import ContentCard from '@components/ContentCard.astro';
import type { Issue } from '@lib/revue';
import { formatDate } from '@util/formatter';

interface IssuesProps {
  issues: Issue[];
}

const { issues } = Astro.props as IssuesProps;
---

{
  issues.map((issue, idx) => (
    <>
      <ContentCard>
        <a href={`/newsletter/${issues.length - idx}`}>
          <h3 class='font-sans'>{issue.title}</h3>
          <p class='text-gray-700 dark:text-gray-500'>
            {formatDate(issue.sent_at)}
          </p>
        </a>
      </ContentCard>
    </>
  ))
}
