---
interface Props {
  url: string;
}

const { url } = Astro.props as Props;
---

<a
  class='flex items-center justify-center bg-white w-8 h-8 rounded-full hover:bg-blue-900 hover:text-white transition-colors dark:bg-cool-gray-900 dark:hover:bg-white dark:hover:text-cool-gray-900'
  target='_blank'
  href={url}
>
  <slot />
</a>
