---
import Header from '@components/Header.astro';
import Posts from '@components/Posts.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { toKebabCase } from '@util/kebab-case';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  const allTags = allPosts
    .flatMap((post) => post.data.tags)
    .filter((tag) => tag !== undefined);
  const availableTags = Array.from(new Set(allTags));
  return availableTags.map((tag) => ({
    params: { slug: toKebabCase(tag) },
    props: { tag },
  }));
}

const { slug } = Astro.params;
const { tag } = Astro.props as { tag: string };

const posts = await getCollection('blog');
const postsForTag = posts.filter((post) => post.data.tags?.includes(tag));
---

<BaseLayout title={`${tag} - <David Neuman />`}>
  <Header textAlign='center'>
    <div class='space-y-2 md:space-y-6'>
      <h1>Tags</h1>
      <h2>{tag}</h2>
    </div>
  </Header>
  <Posts posts={postsForTag} />
</BaseLayout>
