---
import Header from '@components/Header.astro';
import Posts from '@components/Posts.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import type { BlogFrontmatter } from '@pages/blog.astro';
import { toKebabCase } from '@util/kebab-case';

export async function getStaticPaths() {
  const allPosts = await Astro.glob<BlogFrontmatter>('../../pages/blog/*.md');
  const allTags = allPosts
    .flatMap((post) => post.frontmatter.tags)
    .filter((tag) => !!tag);
  const availableTags = Array.from(new Set(allTags));
  return availableTags.map((tag) => ({
    params: { slug: toKebabCase(tag) },
    props: { tag },
  }));
}

const { slug } = Astro.params;
const { tag } = Astro.props;

const posts = await Astro.glob<BlogFrontmatter>('../../pages/blog/*.md');
const postsForTag = posts.filter((post) =>
  post.frontmatter.tags?.includes(tag),
);
---

<BaseLayout title={`${tag} - <David Neuman />`}>
  <Header textAlign='center'>
    <div class='space-y-2 md:space-y-6'>
      <h1>Tags</h1>
      <h2>{tag}</h2>
    </div>
  </Header>
  <Posts posts={postsForTag} />
</BaseLayout>
