---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import Posts from '@components/Posts.astro';
import { getCollection } from 'astro:content';

// TODO: Figure out why filtering doesn't work.
const allPosts = await getCollection('blog');
const posts = allPosts
  .filter((post) => !post.data.draft)
  .sort(
    (p1, p2) =>
      new Date(p2.data.datePublished) - new Date(p1.data.datePublished),
  );
---

<BaseLayout title='Articles - <David Neuman />'>
  <Header textAlign='center'>
    <h1>Articles</h1>
  </Header>
  <Posts posts={posts} />
</BaseLayout>
