---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import Posts from '@components/Posts.astro';
import { getCollection } from 'astro:content';

// TODO: Figure out why filtering doesn't work.
const allPosts = await getCollection('blog');
const posts = allPosts
  .filter((post) => !post.data.draft)
  .sort(
    (p1, p2) =>
      p2.data.datePublished.getTime() - p1.data.datePublished.getTime(),
  );
---

<BaseLayout title='Blog - <David Neuman />'>
  <Header textAlign='center'>
    <h1>Blog</h1>
  </Header>
  <Posts posts={posts} />
</BaseLayout>
