---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Header from '@/components/Header.astro';
import { getBooks } from 'src/data/books';
import CardWithoutReview from '@/components/Books/CardWithoutReview.astro';
import CardWithReview from '@/components/Books/CardWithReview.astro';

const books = getBooks();
---

<BaseLayout title='Books - <David Neuman />'>
  <Header textAlign='center'>
    <h1 class='text-6xl font-bold mb-2'>Books</h1>
    <p>A list of books that I've enjoyed recently.</p>
  </Header>
  <div class='container p-5 my-10 mx-auto'>
    <div class='grid gap-4 mb-8 mx-auto md:grid-cols-2 md:gap-8 xl:grid-cols-3'>
      {
        books.map((book) => {
          return book.slug ? (
            <CardWithReview book={book} />
          ) : (
            <CardWithoutReview book={book} />
          );
        })
      }
    </div>
  </div>
</BaseLayout>
