---
import Header from '@components/Header.astro';
import Subscribe from '@components/Newsletter/Subscribe.astro';
import Issues from '@components/Newsletter/Issues.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getAllIssues } from '@lib/revue';

const issues = await getAllIssues();
---

<BaseLayout title='Newsletter - <David Neuman />'>
  <Header textAlign='center'>
    <h1>Newsletter</h1>
  </Header>
  <div class='p-5 flex flex-col max-w-4xl m-auto mt-8 space-y-8'>
    <Subscribe />
    <h2 class='text-center'>Archive</h2>
    <Issues issues={issues} />
  </div>
</BaseLayout>
