---
import { calculateReadingTime, formatReadingTime } from '@util/formatter';
import Clock from './Clock.astro';

const { html } = Astro.props;
---

<div class='flex space-x-1 items-center'>
  <Clock />
  <span class='text-sm text-gray-700 dark:text-zinc-300'>
    {formatReadingTime(calculateReadingTime(html))}
  </span>
</div>
