---
import { cn } from '@lib/utils';
import { navItems } from 'src/constants';
import ThemeToggle from './ThemeToggle';
import { ContactDialog } from './ContactDialog';

// Used to highlight the current page in the navigation bar.
const pathName = `/${Astro.request.url.split('/')[3]}`;
---

<div
  class='hidden sm:block fixed h-full text-zinc-700 bg-zinc-100 w-72 p-4 dark:bg-zinc-900/75 dark:text-zinc-200'
>
  <div class='flex justify-between items-center font-bold uppercase mb-4'>
    <!-- TODO: Add logo here -->
    <span>David Neuman</span>
    <ThemeToggle client:only='react' />
  </div>
  <div class='flex flex-col space-y-2'>
    {
      navItems.map(({ href, name, popOut, Icon }, idx) => (
        <a target={popOut ? '_blank' : '_self'} href={href}>
          <div
            class={cn(
              'cursor-pointer p-2 rounded hover:bg-zinc-200/80 hover:shadow dark:hover:bg-zinc-800/80',
              pathName === href && 'bg-white shadow dark:bg-zinc-800/75',
            )}
          >
            <div class='flex justify-between'>
              <div class='flex gap-2 items-center'>
                <Icon className='w-4 h-4' />
                <span>{name}</span>
              </div>
              <span class='flex items-center justify-center text-xs h-4 w-4 p-2.5 text-zinc-400 bg-zinc-300/30 dark:bg-zinc-700'>
                {idx + 1}
              </span>
            </div>
          </div>
        </a>
      ))
    }
  </div>

  <div class='border border-b border-zinc-200 my-4 dark:border-zinc-700'></div>

  <ContactDialog openWithSlash client:only='react' />
</div>
