---
import Subscribe from '@components/Newsletter/Subscribe.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getAllIssues, Issue } from '@lib/revue';

export async function getStaticPaths() {
  const issues = await getAllIssues();
  return issues.map((issue, idx) => ({
    params: { id: (issues.length - idx).toString() },
    props: { issue },
  }));
}

interface Props {
  issue: Issue;
}

const { issue } = Astro.props as Props;
---

<BaseLayout title={`${issue.title} - <David Neuman />`}>
  <article
    class='flex flex-col justify-center max-w-2xl mx-auto w-full mt-8 px-8 md:px-0'
  >
    <h1 class='text-3xl font-bold mb-2 text-center md:text-5xl'>
      {issue.title}
    </h1>
    <main
      class='prose dark:prose-dark'
    >
      <div set:html={issue.html}></div>
    </main>
    <Subscribe />
  </article>
</BaseLayout>
