@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 400;
    src: url("../public/fonts/inter-var-latin.woff2") format("woff2");
  }

  h1, article h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  article h1 {
    text-align: center;
  }
  
  h2, article h2 {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

::selection {
  background-color: #1b2d46;
  color: #fff;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  transition: background-color 0.1 ease-in-out;
}
