@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen;
  }

  body h1 {
    @apply text-4xl font-bold md:text-6xl;
  }

  body h2 {
    @apply text-2xl font-bold md:text-4xl;
  }

  body h3 {
    @apply text-xl font-bold md:text-2xl;
  }

  body p {
    @apply md:text-lg
  }

  ol {
    counter-reset: list-item;
  }

  svg {
    @apply fill-current h-5;
  }

  ::selection {
    @apply bg-blue-50 dark:bg-blue-800;
  }
  
  @font-face {
    font-family: 'Alliance 1';
    font-weight: 400;
    src: url('/fonts/AllianceNo1-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
  }

  @font-face{
    font-family: 'Fira Code';
    font-weight: 400;
    src: url('/fonts/FiraCode-Medium.woff2') format('woff2');
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  transition: background-color 0.1 ease-in-out;
}

.link {
  @apply bg-blue-50 bg-opacity-30 text-blue-900 dark:bg-cool-gray-900 dark:text-blue-500;
}

.prose a strong {
  @apply text-blue-800 dark:text-blue-500;
}

.prose code[class*="language-"],
.prose pre[class*="language-"] {
  @apply text-xs md:text-base;
}
