@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen;
  }

  @font-face {
    font-family: 'Alliance 1';
    src: url('/fonts/AllianceNo1-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
  }

  svg {
    @apply fill-current h-5;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: #1b2d46;
  color: #fff;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  transition: background-color 0.1 ease-in-out;
}

.prose a strong {
  @apply text-blue-800 dark:text-blue-500;
}

.prose code[class*="language-"],
.prose pre[class*="language-"] {
  @apply text-sm md:text-base;
}
